<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-light py-1 nav-border"
>
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img class="custom-logo" src="assets/img/brand/Griffith_University_logo.png" />
    </a>

    
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <img src="assets/img/icons/navbar/menu.svg" class="hamburger-icon" />
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/Griffith_University_logo.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item" data-toggle="tooltip" title="Daily Activity">
          <a class="nav-link nav-link-icon" [routerLink]="['/home/daily-activity']">
            <img
              src="assets/img/icons/navbar/calendar.svg"
              class="nav-icon-styles"
            />
            <span class="nav-link-inner--text d-lg-none">Daily Activity</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" title="Hosts">
          <a class="nav-link nav-link-icon" [routerLink]="['/home/hosts']">
            <img
              src="assets/img/icons/navbar/group.svg"
              class="nav-icon-styles"
              style="width: 32px;height: 32px;margin-bottom: 2px;"
            />
            <span class="nav-link-inner--text d-lg-none"
              >Hosts</span
            >
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" title="Statics">
          <a class="nav-link nav-link-icon" [routerLink]="['/home/statics']">
            <img
              src="assets/img/icons/navbar/bar-chart.svg"
              class="nav-icon-styles"
            />
            <span class="nav-link-inner--text d-lg-none"
              >Statics</span
            >
          </a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
